extends base

block content
  div#videoContainer(data-id=video._id)
    if isHeroku
      video(src=video.fileUrl crossorigin)
    else 
      video(src="/" + video.fileUrl crossorigin)
    div#videoControls.videoControls
      div.videoControls__play
        span#play.videoControls__playBtn 
          i.fas.fa-play 
        div.videoControls__time
          span#currenTime 00:00
          span  / 
          span#totalTime 00:00
      input(type="range",step="1", value="0", min="0")#timeline
      div.videoControls__volume
        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
        span#mute
          i.fas.fa-volume-up
      div 
        span#fullScreen
          i.fas.fa-expand 

  div.video__data
    
    div.video__title=video.title

    div.video__description=video.description
    div.video__contents
      div.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr",{weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
      div.video__views
        if video.meta.views < 2
          span #{video.meta.views} view
        else
          span #{video.meta.views} views
      div.video__owner Uploaded by 
        a(href=`/users/${video.owner._id}`)=video.owner.name
    
    div.video__edit
      if String(video.owner._id) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit
        a(href=`${video.id}/delete`) Delete

  if loggedIn
    div.video__add-comments
      form.video__comments-form#commentForm
        textarea(cols="30", rows="1", placeholder="Write a nice comment.")#textarea
        button.fas.fa-angle-right

  div.video__comments
    ul
      each comment in video.comments.reverse()
        li.video__comment(data-id=comment._id)
          i.fas.fa-comment   
          span  #{comment.text}
          if String(comment.owner._id) === String(loggedInUser._id)
            span.fas.fa-backspace.delete-btn

block scripts 
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSection.js")